* {
  margin: 0;
  padding: 0;
}

/* phone */
@media (max-width: 480px) {
  body {
    font-family: "Poppins", sans-serif;
    margin: 3vh;
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    margin-bottom: 3vh;
  }
  
  #logo {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 16pt;
  }
  
  #logo-div {
    width: 92px;
    border-bottom: 2px solid #50aac5;
  }

  .main {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  h1 {
    font-size: 4rem;
    text-align: center;
    font-family: 'Noto Serif', serif;
  }

  .tile-image {
    border-radius: 50%;
    height: 70vw;
    width: 70vw;
  }

  .break {
    flex-basis: 100%;
  }

  .card {
    margin-top: 5vh;
    flex: 1;
    flex-basis: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
  }

  .left-align-container {
    align-self: flex-start;
    width: 70vw;
    margin-bottom: auto;
  }
  
  .card-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-left: 1%;
  }

  .card-text {
    padding-left: 1%;
    padding-right: 1%;
  }
  
  footer {
    display: flex;
    justify-content: flex-end;
  }

  #footer-text {
    margin-top: 7vh;
    margin-right: 1vh;
    color: #50aac5;
  }
} 

/* laptop, etc */
@media (min-width: 481px) {
  .main {
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  #logo {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 36px;
  }
  
  #logo-div {
    width: 155px;
    border-bottom: 3px solid #50aac5;
  }

  h1 {
    font-size: 5rem;
    text-align: center;
    font-family: 'Noto Serif', serif;
    top: 200px;
  }

  .tile-image {
    border-radius: 50%;
    height: 30vw;
    width: 30vw;
  }

  .break {
    flex-basis: 100%;
  }

  .card {
    margin-top: 10vh;
    width: 40vw;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .left-align-container {
    align-self: flex-start;
    margin-bottom: auto;
    width: 30vw;
  }

  .left {
    float: left
  }

  .right {
    float: right;
  }
  
  .card-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-left: 1%;
  }

  .card-text {
    padding-left: 1%;
    padding-right: 1%;
  }

  body {
    font-family: "Poppins", sans-serif;
    margin: 50px 50px 0 50px;
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    margin-bottom: 3vh;
  }

  footer {
    display: flex;
    justify-content: flex-end;
  }

  #footer-text { 
    margin-top: 7vh;
    color: #50aac5;
  }
}


